body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}
.full-height {
display: flex;
flex-direction: column;
min-height: 100vh; /* 100% de la hauteur de la vue */
}

h1 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="url"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#shortURL {
    margin-top: 20px;
    font-weight: bold;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: auto; /* Le footer reste en bas de la page */
}